
.padding-left {
  padding-left: 3rem;
}
.margin-left {
  padding-left: 3rem;
}
.hh {
  background: url("../../assets/background.png") no-repeat center;
  background-size: contain;
  /* margin-left: 80px; */
  padding-left: 50px;
  height: 50vh;
  width: 100%;
}
.image{
  height: 50vh;
  width: 100%;
}
